# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# PyCharm
.idea/
*.iml
*.iws

# Virtual Environments
env/
venv/
.venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints

# macOS
.DS_Store

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo

# Cache
.cache/
*.mypy_cache
__pycache__/